@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */

.navbar {
  display: flex;
  gap: 32px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.navbar h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
}

.navbar a.active {
  border-bottom: 3px solid var(--primary);
}
